.overlay {
  position: fixed;
  inset: 0;

  background: rgba(0,0,0,.45);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000;
}

.modal {
  width: 100%;
  max-width: 450px;

  background: white;

  border-radius: 12px;

  padding: 2rem;

  position: relative;
}

.closeButton {
  position: absolute;

  top: 15px;
  right: 15px;

  border: none;

  cursor: pointer;

  font-size: 1.2rem;
}